@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.pagina {
  height: 100vh;
}

.seccion2 {
  height: 100vh;
}
.seccion2 img {
  width: 20vw;
}

/* Estilo para el modo claro */
.main-content {
  background-color: #ffffff;
  color: #000000;
}
.main-content .dark {
  background-color: #333333;
  color: #ffffff;
}

/* Estilo para el modo oscuro */
.mode-button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.mode-button.dark {
  transform: rotate(180deg);
}

.mode-button.light {
  transform: rotate(0deg);
}

.sun-icon,
.moon-icon {
  font-size: 1.5rem;
  /* Ajusta el tamaño según sea necesario */
  transition: transform 0.3s ease, color 0.3s ease;
  /* Agrega transición para el color */
}

.dark-sun {
  color: #FFD700;
  /* Color dorado para el sol en modo oscuro */
}

.mode-button.dark .sun-icon {
  transform: rotate(180deg);
}

@media (max-width: 600px) {
  #navBar span {
    font-size: 15px;
  }
  #navBar #pedilo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    text-align: center;
  }
}
h2 {
  font-size: 100px;
  text-shadow: 0 0 5px black;
}

#secImg {
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}
#secImg::before {
  content: "";
  inset: 0;
  position: absolute;
  z-index: -1;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.seccion2 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.seccion2 .dark {
  background-color: #333333;
  color: #ffffff;
}
.seccion2 .titulo-seccion {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 20px 0;
}
.seccion2 .titulo-seccion .linea {
  flex-grow: 1;
  height: 1.5px;
  background-color: rgba(204, 204, 204, 0.5058823529);
  border: none;
  position: relative;
}
.seccion2 .titulo-seccion .linea::after {
  content: "";
  position: absolute;
  right: -5px;
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 5px;
  background-color: rgba(171, 169, 169, 0.4509803922);
  border-radius: 50%;
}
.seccion2 .titulo-seccion .titulo {
  padding: 0 10px;
  font-size: 24px;
  color: #000;
}
.seccion2 .carouselProds {
  width: 100%;
  height: 70vh;
  background-color: rgb(247, 244, 244);
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.seccion2 h1 {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
}
.seccion2 .cajaProds {
  height: 100vh;
  background-color: rgb(230, 230, 230);
}

.seccionProd {
  height: 100vh;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5019607843);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}
.seccionProd .dark {
  background-color: #333333;
  color: #ffffff;
}
.seccionProd .cajaProds {
  height: 100%;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.5019607843);
  display: flex;
  justify-content: space-evenly;
  overflow-y: hidden;
  flex-wrap: wrap;
  flex-direction: row;
}
.seccionProd .cajaProds .cartaSeccion {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: relative;
  height: 250px;
  width: 250px;
  background-size: cover;
  background-position: center;
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  background-color: #fdfdfd;
  justify-content: center;
  align-items: center;
  transition: all 400ms ease;
  border-radius: 20px;
}
.seccionProd .cajaProds .cartaSeccion img {
  width: 80%;
  border-radius: 20px;
  height: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  background-color: #ffffff;
}
.seccionProd .cajaProds .cartaSeccion .contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  text-align: center;
}
.seccionProd .cajaProds .cartaSeccion .contenido h1 {
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.seccionProd .cajaProds .cartaSeccion .contenido p {
  font-size: 10px;
  color: black;
  margin: 5px 0;
}
.seccionProd .cajaProds .cartaSeccion .contenido a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0);
  color: white;
  height: 30px;
  width: 100px;
  text-align: center;
  border-radius: 15px;
  text-decoration: none;
  transition: 500ms ease;
  margin-top: 10px;
}
.seccionProd .cajaProds .cartaSeccion .contenido a:hover {
  box-shadow: 0px 0px 5px black;
  scale: 1.02;
}

@media (max-width: 600px) {
  .seccionProd .cajaProds .carta-container .cartaSeccion {
    width: 100px;
    height: 100px;
  }
  .seccionProd .cajaProds .carta-container .cartaSeccion img {
    height: 50px;
  }
  .seccionProd .cajaProds .carta-container .cartaSeccion .contenido h1 {
    font-size: 12px;
  }
  .seccionProd .cajaProds .carta-container .cartaSeccion .contenido p {
    font-size: 8px;
  }
  .seccionProd .cajaProds .carta-container .cartaSeccion .contenido a {
    height: 20px;
    width: 80px;
  }
}
.pag {
  height: 100vh;
  width: 100%;
  background-color: rgb(250, 250, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}
.pag .tex h1 {
  font-size: 100px;
  font-family: "Poppins", sans-serif;
}
.pag .cajaProductos {
  margin-top: 30px;
  height: 80vh;
  flex-wrap: wrap;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.pag .cajaProductos .carta {
  background-color: rgba(231, 228, 228, 0.724);
  width: 300px;
  height: 330px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}
.pag .cajaProductos .carta p {
  font-size: 10px;
}
.pag .cajaProductos .carta .contenido {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
}
.pag .cajaProductos .carta .contenido .espacio {
  width: 60%;
}
.pag .cajaProductos .carta .contenido p {
  font-size: 20px;
  font-weight: bold;
}
.pag .cajaProductos .carta a {
  width: 100%;
  background-color: black;
  color: white;
  height: 40px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pag .cajaProductos .carta h1 {
  font-size: 30px;
  font-weight: bold;
}

@media (max-width: 600px) {
  .pag .cajaProductos {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .pag .cajaProductos .carta {
    width: 100%;
    height: 70%;
    gap: 20px;
  }
  .pag .cajaProductos .carta p {
    font-size: 20px;
  }
  .pag .cajaProductos .carta a {
    height: 60px;
  }
  .pag .cajaProductos .carta .contenido {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  .pag .cajaProductos .carta .contenido p {
    font-size: 30px;
    font-weight: bold;
  }
}/*# sourceMappingURL=style.css.map */