.pag {
    height: 100vh;
    width: 100%;
    background-color: rgb(250, 250, 250);
    display: flex;
    justify-content: center;
    align-items: center;
    .cajaProds {
        height: 90vh;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 20px;
        .carta {
            height: 300px;
            width: 300px;
            background-color: rgb(202, 202, 202);
            border-radius: 10px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
            transition: width 0.3s ease, height 0.3s ease, box-shadow 0.3s ease; // Agrega box-shadow a la transición
          
            &:hover {
              width: calc(1.1 * 300px); // Aumenta el ancho en un 10%
              height: calc(1.1 * 300px); // Aumenta la altura en un 10%
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2); // Define la sombra con valores adecuados
            }
          
          
           
            .contenido {
                height: 100%;
                width: 90%;
                display: flex;
                justify-content: space-around;
                flex-direction: row;
                align-items: center;
                .contenido2 {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                }

                h2 {
                    font-size: 15px;
                }
                p {
                    font-size: 10px;
                }
                .contenido3{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    flex-direction: column;
                    a {
                        height: 40px;
                        width: 100%;
                        background-color: black;
                        color: white;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 20px;
                        font-size: 14px;
                    }
                }
            }
            h1 {
                font-size: 30px;
            }
        }
    }
}
