h2{
     font-size: 100px;
     text-shadow: 0 0 5px black;
     
}
#secImg{
    
          backdrop-filter: blur(4px);
          &::before {
               content: "";
               inset: 0;
               position: absolute;
               z-index: -1;
               backdrop-filter: blur(4px);
             }
     

}